<%= content_for :header_title do %>
  Hākuturi
<% end %>

<p>In Māori mythology, the hākuturi are guardians of the forest. The goal of
this website is to help us understand the ongoing environmental crisis and
become protectors of the wilderness.</p>

<ul>
  <!--<li><%# link_to "Texts", texts_path %>: collection of resources to understand our modern societies</li>-->
  <li><%= link_to "News", links_path %>: curated news aggregator focused on the environment</li>
</ul>
