<%= content_for :header_title do %>
  <h1 class="mb-4">Act to stop the Holocene Extinction</h1>
  <p class="lead">
    We are the hākuturi, a collective dedicated to stop the ongoing ecological
    crisis through personal, communal, and global actions.
    Our name comes from the guardians of the wilderness in Māori mythology.
    Join us!
  </p>
<% end %>
