<%= render "header" %>

<% description "HÄkuturi News is a curated news aggregator focused on the environment" %>

<% if policy(@links).create? %>
  <div class="text-center mb-4">
    <%= link_to "Add News", new_link_path, class: "btn btn-primary", role: "button" %>
  </div>
<% end %>

<% if @links %>
  <div id="links">
    <%= render "links", links: @links %>
  </div>

  <% unless @links.last_page? %>
    <div class="next-page text-center mt-4">
      <%= link_to_next_page @links, "Next Page", remote: true, class: "btn btn-primary", role: "button" %>
    </div>
  <% end %>
<% end %>
