<p id="notice"><%= notice %></p>

<h1 class="text-center text-primary">Latest News</h1>

<%= link_to 'New Link', new_link_path %>

<% @links.each do |link| %>
  <%= render 'link', link: link %>
<% end %>
