<%= render "header" %>

<% title @link.title %>
<% description @link.body %>

<%= render "link", link: @link %>

<div class="text-center mt-4">
  <%= link_to "More News", links_path, class: "btn btn-primary", role: "button" %>
</div>
