<%= content_for :header_title do %>
  <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
    <%= link_to root_path, itemprop: "item" do %><span itemprop="name">HÄkuturi</span><% end %>
    <meta itemprop="position" content="1" />
  </li>
  <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
    <%= link_to texts_path, itemprop: "item" do %><span itemprop="name">Texts</span><% end %>
    <meta itemprop="position" content="2" />
  </li>
<% end %>
